/*Style for html, body, and main*/
html, body {	
	max-width: 100%;
	background: #171c28;
	height: 100%;
}

body {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

main {
	flex: 1 0 auto;
}

/* Class of main */
.portfolio-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Remove default lines from all links*/
a {
	text-decoration: none;
}

/* Remove visible scrollbar from page  */
::-webkit-scrollbar {
    width: 0;
}

/* Remove visible scrollbar from descriptione*/
::selection {
  background: #e7e7e7; /* WebKit/Blink Browsers */
}

/* Styles the additional pictures*/
img {
	width: 60vw;
}

.additional-pictures {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	overflow-x: auto;
}

.app-fig-1 {
	margin-left: 10%;
}

.app-fig-3 {
	margin-right: 40%;
}

.extra-pic {
	width: 40vw;
}

/* Footer Elements below */
footer {
	flex-shrink: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e7e7e7;
	width: 100%;
}

.fab {
	font-size: 7.5vw;
	margin-right: 3vw;
	margin-top: 1.8vw;
	color: #e7e7e7;
	opacity: 0.8;
	padding-bottom: 3px;
	margin-bottom: 2px;
}

.fab:hover, .fab:active {
	opacity: 1;
	cursor: pointer;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.fab:focus {
	opacity: 1;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	outline: none;
}

/* This styles my Apps Engineered by Shane*/
.signature {
	font-size: 3.2vw;
	float: right;
	font-family: 'Lato', Geneva, sans-serif;
    color: #afafaf;
	margin-top: 1.2vw;
}

.name {
	font-size: 3.8vw;
}

.emoji {
	font-size: 6vw;
}

/*This styles the app selectorr*/
.featured_work {
	margin-top: 27%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	font-size: 4.5vw;
	color: #e7e7e7;
	font-family: 'Oxygen', sans-serif;
}

.all_my_work {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
	width: 100%;

}

.app-chooser {
	width: 30%;
	margin-left: 15%;
	margin-right: 15%;
	order: 2;
	float: left;
}

.main-app-fig {
	width: 100%;
}

.main-app-buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	order: 3;
}

/* These styles the play and source code buttons */
.app-button {
	opacity: 0.8;
	margin-bottom: 2px;
}
.app-button:hover {
	opacity: 1;
	cursor: pointer;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.app-button:focus {
	opacity: 1;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	outline: none;
}

.play-button {
	font-size: 9vw;
	background-color: #171c28;
	color:  #007bff;
	border: none;
}

.source-code {
	margin-top: 6%;
	margin-left: 4%;
	font-size: 4vw;
	background-color: #171c28;
	color:  #007bff;
	border: none;
	padding-bottom: 5px;
}

/* Styles the app icon and scroll buttons */
.app-icon {
	height: 30vw;
	width: 30vw;
	border-radius: 1000px;
}

.scroll-button {
	font-size: 8vw;
	background-color: #171c28;
	color:  #007bff;
	padding-top: 40%;
	opacity: 0.8;
	border: none;
	margin-bottom: 2px;
	height: 100%;
}


.scroll-button:hover {
	opacity: 1;
	cursor: pointer;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	height: 100%;
}

.scroll-button:focus {
	opacity: 1;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	height: 100%;
	outline: none;

}
.app {
	opacity: 0.4;
	
}

.app:hover, {
	cursor: pointer;
}

.app-name {
	opacity: 1;
}

figcaption {
	font-size: 4vw;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	color: #e7e7e7;
}

/* This styles the app description box */
.entire-description {
	margin-top: 10%;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

.title-description {
	color: #e7e7e7;
	font-size: 5vw;
	font-family: 'Oxygen', sans-serif;
}

.app-description {
	margin-bottom: 5%;
	margin: auto;
	width: 30%;
	height: 45vw;
	overflow-y: auto;
	resize: none;
	background-color: #171c28;
	border: none;
	font-size: 3vw;
	line-height: 4vw;
	color: #afafaf;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}