/*************************************************************************
Title:       medium.css

Author:      Shane Lester

Created on:  September 8th 2018

Description: Styles the 'App Chooser' web application for screen sizes
			 from 450px to 575px in width. For more information on the 
			 application please refer to the README within this project.

**************************************************************************/

/*Style for html, body, and main*/
html, body {	
	max-width: 100%;
	margin-right: 3%;
	margin-left: 3%;
	background: #171c28;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Remove Default lines from all links*/
a {
	text-decoration: none;
}

/* Remove visible scrollbar from page */
::-webkit-scrollbar {
    width: 0;
}

/* Remove bisible scrollbar from description */
::selection {
  background: #e7e7e7; /* WebKit/Blink Browsers */
}

/* Remove all additional pictures */
.additional-pictures {
	display: none;
}

/* Footer  Elements below*/
footer {
	flex-shrink: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e7e7e7;
	width: 100%;
}

.fab {
	font-size: 7.5vw;
	margin-right: 3vw;
	margin-top: 1.8vw;
	color: #e7e7e7;
	opacity: 0.8;
	padding-bottom: 3px;
	margin-bottom: 2px;
}

.fab:hover, .fab:active {
	opacity: 1;
	cursor: pointer;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.fab:focus {
	opacity: 1;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	outline: none;
}

/* This styles my Apps Engineered by Shane*/
.signature {
	font-size: 3.2vw;
	float: right;
	font-family: 'Lato', Geneva, sans-serif;
    color: #afafaf;
	margin-top: 1.2vw;
}

.name {
	font-size: 3.8vw;
}

.emoji {
	font-size: 6vw;
}

/* This styles the app selector */
.main-app {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.featured_work {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	font-size: 6.5vw;
	color: #e7e7e7;
	font-family: 'Oxygen', sans-serif;
}

.all_my_work {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
	width: 100%;

}

.title-description {
	color: #e7e7e7;
	font-size: 6vw;
	font-family: 'Oxygen', sans-serif;
}

.main-app-fig {
	width: 100%;
}

.main-app-buttons {
	padding-top: 7%;
	padding-bottom: 7%;
}

/* Styles the app icon and scroll buttons */
.app-icon {
	height: 40vw;
	width: 40vw;
	border-radius: 1000px;
}

.app {
	opacity: 0.4;
	
}

.app:hover, {
	cursor: pointer;
}

.app-name {
	opacity: 1;
}

figcaption {
	font-size: 6vw;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	color: #e7e7e7;
}

.scroll-button {
	font-size: 12vw;
	background-color: #171c28;
	color:  #007bff;
	padding-top: 23%;
	opacity: 0.8;
	border: none;
	margin-bottom: 2px;
	height: 100%;
}

.scroll-button:hover {
	opacity: 1;
	cursor: pointer;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	height: 100%;
}

.scroll-button:focus {
	opacity: 1;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	height: 100%;
	outline: none;
}


/* These style the play and source code buttons */
.app-button {
	opacity: 0.8;
	margin-bottom: 2px;
}
.app-button:hover {
	opacity: 1;
	cursor: pointer;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.app-button:focus {
	opacity: 1;
	margin-bottom: 0;
	border-bottom-color: #1ed760;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	outline: none;
}

.play-button {
	font-size: 10vw;
	background-color: #171c28;
	color:  #007bff;
	border: none;
}

.source-code {
	font-size: 4vw;
	background-color: #171c28;
	color:  #007bff;
	border: none;
	padding-bottom: 5px;
}

/* This styles the app description box */
.entire-description {
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	width: 100%;
}

.app-description {
	margin-bottom: 5%;
	margin: auto;
	width: 60%;
	height: 40vw;
	overflow-y: auto;
	resize: none;
	background-color: #171c28;
	border: none;
	font-size: 3vw;
	line-height: 4vw;
	color: #afafaf;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}