[submodule "Concentration"]
	path = Concentration
	url = https://github.com/Shane-Lester99/Concentration
[submodule "Tommy-Cross"]
	path = Tommy-Cross
	url = https://github.com/Shane-Lester99/Tommy-Cross
